<table class="table table-sm">
        <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Telephone</th>
                <th>E-Mail</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Buttons</th>
       </thead>
        <ng-container *ngFor="let registration of registrationArray">
                <tr class="table-dark">
                        <td>{{registration.firstName}}</td>
                        <td>{{registration.lastName}}</td>
                        <td>{{registration.telephone}}</td>
                        <td>{{registration.email}}</td>
                        <td>{{registration.address}}</td>
                        <td>{{registration.gender}}</td>
                        <td>
                                <button class="btn btn-info">Edit</button>
                                <button class="btn btn-danger">Delete</button>
                        </td>
                </tr>
        </ng-container>
</table>
